<footer class="footer text-muted mt-2 mb-1">
  <div class="container">
    <span class="float-lg-right">© <%= Date.current.year %> <%= link_to 'goldenson', '' %></span>
    <ul class="list-inline mb-0">
      <li class="list-inline-item mr-3"><a href="/">Qui sommes nous?</a></li>
      <li class="list-inline-item mr-3"><a href="/">FAQ</a></li>
      <li class="list-inline-item mr-3"><a href="/">Terms</a></li>
    </ul>
  </div>
</footer>
