<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 ml-auto mr-auto">
      <h1>Nouvelle Réservation</h1>
      <br/>
      <%= render 'form', reservation: @reservation, action_name: 'Créer' %>
      <br/>
      <%= link_to 'Retour', reservations_path %>
    </div>
  </div>
</div>
